.projectsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    grid-gap: 50px;
    margin: 50px auto;
    max-width: 75%;
    @media (max-width: 1400px) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
}